.vscode
testFile.blend1
/blender_system_solver/__pycache__/*
/blender_system_solver/debug/__pycache__/*
/blender_system_solver/modules/__pycache__/*
/blender_system_solver/simulations/__pycache__/*
/blender_system_solver/utils/__pycache__/*